DirectorySlash Off
DirectoryIndex index.php
Options -Indexes

RewriteEngine On
# Asegurar que esté activado mod_rewrite
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^cobrosflex\.com\.ar$ [NC]
RewriteRule ^(.*)$ https://www.cobrosflex.com.ar%{REQUEST_URI} [R=301,L]


# Si es un directorio y no termina en slash, carga index.php dentro
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+[^/])$ $1/index.php [L]

# Rutas tipo: api/xxx/123 -> api/xxx/index.php?id=123
RewriteRule ^api/([^/]+)/([0-9A-Za-z_-]+)$ api/$1/index.php?id=$2 [QSA,L]

# Si no es archivo ni directorio, carga index.php dentro del path
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# ¡NUEVA LÍNEA! No aplicar esta regla si la URL termina en una extensión de archivo común
RewriteCond %{REQUEST_URI} !\.(css|js|ico|png|jpg|gif|svg)$ [NC]
RewriteRule ^(.+)$ $1/index.php [L]